*{
    padding: 0%;
    margin: 0%;
}

:root{
    --color-letra:#fff;
    --tipo-letra:Roboto Slab;
    --texto-carta:Embed code;

}

.encabezado{
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    margin: 10px;
    padding: 5px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: var(--color-letra);
    font-family:var(--tipo-letra);
    white-space: nowrap;
    text-align: center;
}

.foto{

    
    background-image: url('../img/fotoP.png');
    background-size: cover;
    background-position: center;
    position: relative;
    width: 400px;
    height: 400px;
}

.primerTex{
    font-family: var(--texto-carta);
    text-align: center;
    font-size: 18px;
    font-weight: 200;
}