*{
    padding: 0%;
    margin: 0%;
}

:root{
    --color-letra:#fff;


}

.encabezado{
    font-size: medium;
    font-weight: 600;
    bottom: 50%;
    left: 10%;
    color: var(--color-letra);

}

.foto{

    
    background-image: url('../img/fotoP.png');
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 400px;
}