*{
    padding: 0%;
    margin: 0%;
}

:root{
    --color-letra:#fff;
    --tipo-letra:Roboto Slab;

}

.encabezado{
    font-size: medium;
    font-weight: 600;
    position: relative;
    bottom: 60%;
    left: 15%;
    color: var(--color-letra);
    font-family:var(--tipo-letra);
}

.foto{

    
    background-image: url('../img/fotoP.png');
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 400px;
}